<h1>New Order</h1>

<form action="<%= orders_path %>" method="post">
  Item: <input type="text" name="item_name"><br>
  Store_ids:
  <% Store.all.each do |store| %>
      <input type="checkbox" name="store_ids[]" value="<%= store.id %>" ><%= store.name %><br>
  <% end %>
  <input type="submit" value="Submit">
</form>

<%= link_to 'Back', orders_path %>
