.order-list {
    padding: 0 10px;
}

.order-item {
    list-style: none;
    padding: 10px 0;
    margin: 0 auto;
}

.order-item-details {
    padding: 20px;
}

.order-add .mui-dialog-window-contents {
    width: 370px;
}

.order-add {
    margin: 20px 10px;
}

.order-add > div {
    padding: 20px;
}

.store-item {
    list-style: none;
    padding: 10px 0;
    margin: 0 auto;
}

.store-item-details {
    padding: 20px;
}