.order-list {
    padding: 0 10px;
}

.order-item {
    list-style: none;
    padding: 10px 0;
    margin: 0 auto;
}

.order-item-details {
    padding: 20px;
}

.order-add .mui-dialog-window-contents {
    width: 370px;
}

.order-add {
    margin: 20px 10px;
}

.order-add .item-small {
    width: 110px;
    float: left;
}

.order-add .item-small.item-small-last {
    width: 100px;
}

.order-add .item-small .mui-input,
.order-add .item-small input,
.order-add .item-small .mui-input-highlight,
.order-add .item-small .mui-input-bar {
    width: 100px;
}

.order-add > div {
    padding: 20px;
}

.store-item {
    list-style: none;
    padding: 10px;
    margin: 0 auto;
}

.store-item-details {
    padding: 20px;
}

.item-list.mui-drop-down-menu .mui-menu-control {
    display: none;
}

.item-list.mui-drop-down-menu .mui-menu {
    margin-top: -125px;
}

@media (max-width: 767px) {
    .order-add input {
        max-width: 100%;
    }

    .order-add .mui-input-bar {
        max-width: 100%;
    }

    .order-add .half:nth-child(1) {
        max-height: 135px;
    }

    .order-add .expire-days {
        width: 140px;
        float: left;
    }

    .order-add .item-small {
        width: 90px;
        float: left;
    }

    .order-add .item-small.item-small-last {
        width: 80px;
    }

    .order-add .item-small .mui-input,
    .order-add .item-small input,
    .order-add .item-small .mui-input-highlight,
    .order-add .item-small .mui-input-bar {
        width: 80px;
    }
}