@media (min-width: 768px) {
    .user {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .login {
        width: 400px;
        margin: 50px auto;
    }

    .login > div {
        padding: 40px;
    }

    .signup {
        width: 400px;
        margin: 50px auto;
    }

    .signup > div {
        padding: 40px;
    }
}

@media (max-width: 767px) {
    .login {
        margin: 10px 10px -20px 10px;
    }

    .login > div {
        padding: 15px;
    }

    .login h1 {
        margin-bottom: 0;
    }

    .login .mui-input {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .login .form-checkbox.mui-input {
        margin-bottom: 10px;
    }

    .login input {
        max-width: 100%;
    }

    .login .mui-input-bar {
        max-width: 100%;
    }

    .login .mui-raised-button {
        width: 100%;
    }

    .login .mui-input-bar {
        max-width: 100%;
    }

    .signup {
        margin: 10px 10px -20px 10px;
    }

    .signup > div {
        padding: 15px;
    }

    .signup h1 {
        margin-bottom: 0;
    }

    .signup .mui-input {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .signup .mui-input.mui-input-large {
        margin-bottom: 40px;
    }

    .signup input {
        max-width: 100%;
    }

    .signup .mui-raised-button {
        width: 100%;
    }
}